.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    text-align: center;
    font-size: 16px;
  }

  .description {
    font-size: 25px;
  }
  
  .product-details-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-details-content {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .product-details-link {
    text-decoration: none;
    color: #555;
  }
  